@media (min-width: 992px)
  a:hover
    color: $hover-blue
  .navbar
    &__button
      &:hover
        background-color: $light-blue
        color: $light
  .banner
    &__button
      &-buy
        &:hover
          background-color: $light
          color: $light-blue
          border: 2px solid $light-blue
  .recommended
    &__button
      &:hover
        color: $hover-blue
  .books
    &__button
      &-buy
        &:hover
          background-color: $light
          color: $primary
          border: 2px solid $primary
  .month
    &-best
      &__button
        &-buy
          &:hover
            background-color: $light
            color: $primary
            border: 2px solid $primary
      &__bottom
        &-button
          &:hover
            color: $hover-blue
  .blog
    &__button
      &:hover
        background-color: $light-blue
        color: $light
  .subscribe
    &__button
      &:hover
        color: $title-color
        background-color: $light
        border: 2px solid $title-color
  .footer
    &-top
      &__link
        &--hover
          &:hover
            //transform: rotateY(360deg)
            width: 50px
@media (max-width: 1200px)
  .container
    max-width: 960px
  .banner
    &-wrapper
      margin-bottom: 65px
    &__description
      width: 550px
      height: 438px
      margin-right: 58px
      &-text
        font-size: 14px
        line-height: 28px
        margin-bottom: 45px
        width: 550px
    &__title
      font-size: 40px
      line-height: 50px
    &__subtitle
      font-size: 15px
      line-height: 20px
    &__button
      &-buy
        font-size: 13px
        line-height: 18px
        padding: 15px 30px
        margin-left: 5px
        margin-right: 23px
      &-demo
        font-size: 13px
        line-height: 20px
        padding: 13px 40px
    &__img
      max-width: 350px
      min-height: 450px
    &__image
      height: 450px
  .recommended
    &__title
      font-size: 25px
      line-height: 35px
      margin-top: 0
    &__item
      max-width: 280px
    &__button
      padding: 25px 208px 27px 205px
      margin-left: 5px
  .books
    &__image
      width: 130px
      height: 200px
    &__title
      font-size: 15px
      line-height: 25px
    &__category
      font-size: 14px
      line-height: 18px
      margin-bottom: 18px
    &__price
      font-size: 16px
      line-height: 20px
    &__button
      &-buy
        font-size: 12px
        line-height: 18px
        padding: 7px 15px
        margin-right: 15px
  .month-best
    &__image
      width: 100px
      height: 150px
    &__item
      margin-bottom: 20px
    &__title
      font-size: 18px
      line-height: 25px
    &__price
      font-size: 16px
      line-height: 20px
    &__button
      &-buy
        font-size: 12px
        line-height: 18px
        padding: 7px 15px
    &__item
      margin-bottom: 28px
    &__bottom
      &-button
        padding: 24px 100px 24px 100px
  .categories
    &-slider
      &__item
        max-width: 220px
      &__title
        font-size: 18px
        line-height: 28px
      &__subtitle
        font-size: 12px
        line-height: 18px
  .unreleased
    &-wrapper
      padding-left: 24px
    &__title
      font-size: 32px
      line-height: 40px
      margin-bottom: 47px
    &-slider
      &__item
        max-width: 230px
        max-height: 298px
        margin-right: 40px
  .story
    margin-top: 70px
    margin-bottom: 80px
    &-wrapper
      max-width: 985px
    &__title
      font-size: 40px
      line-height: 50px
    &-main
      &__video
        max-height: 360px
        min-width: 960px
    &-secondary
      &__video
        max-width: 305px
  .partners
    padding-bottom: 60px
    &__icons
      align-items: start
    &__icon
      &:nth-child(5)
        margin-right: 25px
      &:nth-child(10)
        display: none
      &:nth-child(7)
        display: none
  .blog
    &__main
      &-left
        margin-right: 20px
        max-width: 536px
  .left
    &__image
      max-width: 536px
  .right
    &__image
      margin-right: 20px
      max-width: 200px
    &__date
      font-size: 10px
      line-height: 15px
      margin-bottom: 10px
    &__title
      font-size: 18px
      line-height: 25px
    &__link
      font-size: 12px
      line-height: 16px
  .newsletter
    margin-bottom: 88px
    &__title
      max-width: 363px
  .footer
    &-top
      &__products
        margin-right: 50px
      &__services
        margin-right: 50px
      &__company
        margin-right: 50px
// @media (min-width: 768px)
//   .container
//     max-width: 700px
//   .navbar
//     &--mobile
//       &--fixed
//         position: fixed
//         left: 0
//         right: 0
//         top: 0
//         bottom: 0
//         z-index: 99
//     &-menu
//       &--mobile
//         &--visible
//           display: flex
//           flex-direction: column
//           align-items: flex-start
//           background-color: $primary
//           position: fixed
//       &__list
//         display: flex
//         flex-direction: column
//         margin-top: 50%
//         color: $light
//         font-size: 27px
//       &__item
//         margin-bottom: 20px
//     &__button
//       margin-left: 40px
//   .menu
//     &-button
//       display: flex
//       width: 22px
//       height: 18px
//       align-items: center
//       justify-content: space-between
//       flex-direction: column
//       border: none
//       background-color: $light
//       cursor: pointer
//       &__line
//         width: 22px
//         height: 2px
//         background-color: $primary

@media (min-width: 320px) and (max-width: 400px)
  .container
    width: 89%
    margin: auto
  .navbar
    &-menu
      display: none
    &--mobile
      &--fixed
  .menu
    &-button
      display: none
