@media (min-width: 992px)
  a:hover
    color: $hover-blue
  .navbar
    &__button
      &:hover
        background-color: $light-blue
        color: $light
  .banner
    &__button
      &-buy
        &:hover
          background-color: $light
          color: $light-blue
          border: 2px solid $light-blue
  .recommended
    &__button
      &:hover
        color: $hover-blue
  .books
    &__button
      &-buy
        &:hover
          background-color: $light
          color: $primary
          border: 2px solid $primary
  .month
    &-best
      &__button
        &-buy
          &:hover
            background-color: $light
            color: $primary
            border: 2px solid $primary
      &__bottom
        &-button
          &:hover
            color: $hover-blue
  .blog
    &__button
      &:hover
        background-color: $light-blue
        color: $light
  .subscribe
    &__button
      &:hover
        color: $title-color
        background-color: $light
        border: 2px solid $title-color
  .footer
    &-top
      &__link
        &--hover
          &:hover
            //transform: rotateY(360deg)
            width: 50px
// @media (min-width: 768px)
//   .container
//     max-width: 700px
//   .navbar
//     &--mobile
//       &--fixed
//         position: fixed
//         left: 0
//         right: 0
//         top: 0
//         bottom: 0
//         z-index: 99
//     &-menu
//       &--mobile
//         &--visible
//           display: flex
//           flex-direction: column
//           align-items: flex-start
//           background-color: $primary
//           position: fixed
//       &__list
//         display: flex
//         flex-direction: column
//         margin-top: 50%
//         color: $light
//         font-size: 27px
//       &__item
//         margin-bottom: 20px
//     &__button
//       margin-left: 40px
//   .menu
//     &-button
//       display: flex
//       width: 22px
//       height: 18px
//       align-items: center
//       justify-content: space-between
//       flex-direction: column
//       border: none
//       background-color: $light
//       cursor: pointer
//       &__line
//         width: 22px
//         height: 2px
//         background-color: $primary

@media (min-width: 320px) and (max-width: 400px)
  .container
    width: 89%
    margin: auto
  .navbar
    &-menu
      display: none
    &--mobile
      &--fixed
  .menu
    &-button
      display: none
