// переменные
//fonts
$roboto: 'Roboto', sans-serif
$open-sans: 'Open Sans', sans-serif
$roboto-condensed: 'Roboto Condensed', sans-serif
$primary: #183B56
$light-blue: #1565D8
$title-color: #FAAD13
$text-color: #5A7184
$light: #fff
// $dark: #0a223d
// $footer-text-color: #BDBDBD
// $hover-button-color: #ad1129
// $hover-input-color: #C5C5C5
