.footer
  &-wrapper
    display: flex
    flex-direction: column
    padding-bottom: 80px
  &-top
    display: flex
    flex-wrap: wrap
    //justify-content: space-between
    width: 100%
    margin-bottom: 72px
    &__social-media
      display: flex
      flex-direction: column
      max-width: 263px
    &__text
      font-family: $open-sans
      font-weight: 400
      font-size: 15px
      line-height: 28px
      color: $text-color
      margin-bottom: 30px
    &__list
      list-style: none
      margin: 0
      padding: 0
    &__item
      font-family: $open-sans
      font-weight: 400
      font-size: 16px
      line-height: 22px
      color: $primary
      margin-bottom: 24px
    &__link
      text-decoration: none
      color: inherit
    &__logo
      margin-bottom: 28px
    &__products
      margin-left: 30px
      margin-right: 80px
    &__services
      margin-right: 80px
    &__company
      margin-right: 95px
  &__title
    font-family: $open-sans
    font-weight: 700
    font-size: 18px
    line-height: 25px
    color: $primary
    margin-bottom: 31px
  &-bottom
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    &__text
      font-family: $open-sans
      font-weight: 600
      font-size: 16px
      line-height: 22px
      color: $text-color
      margin-top: 24px
